<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJAZdJDMuws9IspvzbMqLo1eELc7OP_Cw</string>
	<key>GCM_SENDER_ID</key>
	<string>142144748161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bizkit.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bizkit-a2182</string>
	<key>STORAGE_BUCKET</key>
	<string>bizkit-a2182.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142144748161:ios:2630d3e32fd31c17d12b80</string>
</dict>
</plist>